In [1]:
import data_debris

Category: 7

In [2]:
dic = data_debris.data_in_list()

In [3]:
dic

[{'id': '49122',
  'name': 'GAOFEN 5-02',
  'altitude': 702225.4375,
  'latitude': 21.417086086045067,
  'longitude': -129.00028021241343},
 {'id': '49123',
  'name': 'CZ-4C R/B',
  'altitude': 686836.0,
  'latitude': 28.048774590851615,
  'longitude': -126.19059993505864},
 {'id': '49124',
  'name': '2021-079C',
  'altitude': 668634.0,
  'latitude': 76.9230247724093,
  'longitude': -91.81476327638305},
 {'id': '49125',
  'name': 'CHINASAT 9B',
  'altitude': 35799056.0,
  'latitude': 0.01650716816905909,
  'longitude': 101.36864064210012},
 {'id': '49126',
  'name': 'CZ-3B R/B',
  'altitude': 25759046.0,
  'latitude': 15.854153139163557,
  'longitude': -106.84141850703205},
 {'id': '49127',
  'name': 'COSMOS 2551',
  'altitude': 283215.75,
  'latitude': -1.459897973411748,
  'longitude': 64.19363536720239},
 {'id': '49128',
  'name': 'SL-4 R/B',
  'altitude': 297734.40625,
  'latitude': -38.77078335182283,
  'longitude': -121.12727142030147},
 {'id': '49131',
  'name': 'STARLINK-3096',
  'altitude': 361571.1875,
  'latitude': 1.4669010517451269,
  'longitude': 135.6737165409744},
 {'id': '49132',
  'name': 'STARLINK-3090',
  'altitude': 361803.28125,
  'latitude': -0.6931902426141877,
  'longitude': 134.88866825815145},
 {'id': '49133',
  'name': 'STARLINK-3077',
  'altitude': 362524.03125,
  'latitude': 2.8452252221257663,
  'longitude': 136.17505242605333},
 {'id': '49134',
  'name': 'STARLINK-3078',
  'altitude': 361842.59375,
  'latitude': 11.031272896400221,
  'longitude': 139.19788924702587},
 {'id': '49135',
  'name': 'STARLINK-3073',
  'altitude': 361366.375,
  'latitude': 7.3947316256709845,
  'longitude': 137.8407853004577},
 {'id': '49136',
  'name': 'STARLINK-3084',
  'altitude': 362080.09375,
  'latitude': 5.114945108088605,
  'longitude': 137.0022019949202},
 {'id': '49137',
  'name': 'STARLINK-3055',
  'altitude': 362000.8125,
  'latitude': 8.987170593865594,
  'longitude': 138.4317059466905},
 {'id': '49138',
  'name': 'STARLINK-3058',
  'altitude': 362056.0,
  'latitude': 15.166347967101396,
  'longitude': 140.7866458894842},
 {'id': '49139',
  'name': 'STARLINK-3057',
  'altitude': 362538.125,
  'latitude': 12.809093443952731,
  'longitude': 139.8738594088037},
 {'id': '49140',
  'name': 'STARLINK-3118',
  'altitude': 362944.375,
  'latitude': 18.89763932954434,
  'longitude': 142.27937007221215},
 {'id': '49141',
  'name': 'STARLINK-3093',
  'altitude': 360853.46875,
  'latitude': 17.296064129561195,
  'longitude': 141.63077530862773},
 {'id': '49142',
  'name': 'STARLINK-3042',
  'altitude': 362174.5,
  'latitude': 21.396061056232476,
  'longitude': 143.31813256194437},
 {'id': '49143',
  'name': 'STARLINK-3109',
  'altitude': 363366.0,
  'latitude': 22.868641303550763,
  'longitude': 143.94819019212136},
 {'id': '49144',
  'name': 'STARLINK-3100',
  'altitude': 363420.96875,
  'latitude': 27.139283676445643,
  'longitude': 145.86818368856862},
 {'id': '49145',
  'name': 'STARLINK-3119',
  'altitude': 364448.5,
  'latitude': 30.811779062965826,
  'longitude': 147.64971559016138},
 {'id': '49146',
  'name': 'STARLINK-3116',
  'altitude': 363788.71875,
  'latitude': 29.04296155851304,
  'longitude': 146.77255537619166},
 {'id': '49147',
  'name': 'STARLINK-3071',
  'altitude': 363226.6875,
  'latitude': 24.927361064682863,
  'longitude': 144.85600429508608},
 {'id': '49148',
  'name': 'STARLINK-3048',
  'altitude': 364998.25,
  'latitude': 34.955818756952645,
  'longitude': 149.84735627636965},
 {'id': '49149',
  'name': 'STARLINK-3053',
  'altitude': 362695.40625,
  'latitude': 33.57404758219697,
  'longitude': 149.08986097665857},
 {'id': '49150',
  'name': 'STARLINK-3104',
  'altitude': 366384.3125,
  'latitude': 38.47152885862248,
  'longitude': 151.91286012289487},
 {'id': '49151',
  'name': 'STARLINK-3102',
  'altitude': 365667.71875,
  'latitude': 36.873069932448146,
  'longitude': 150.9486559781425},
 {'id': '49152',
  'name': 'STARLINK-3081',
  'altitude': 367664.53125,
  'latitude': 44.26003904812741,
  'longitude': 155.87234810550794},
 {'id': '49153',
  'name': 'STARLINK-3072',
  'altitude': 366686.03125,
  'latitude': 40.48044800296872,
  'longitude': 153.20115674376436},
 {'id': '49154',
  'name': 'STARLINK-3068',
  'altitude': 367954.78125,
  'latitude': 45.95148758475688,
  'longitude': 157.20001393675338},
 {'id': '49155',
  'name': 'STARLINK-3060',
  'altitude': 366902.34375,
  'latitude': 42.65182319672372,
  'longitude': 154.69042485077227},
 {'id': '49156',
  'name': 'STARLINK-3085',
  'altitude': 369155.5,
  'latitude': 51.710624545736174,
  'longitude': 162.54915854751889},
 {'id': '49157',
  'name': 'STARLINK-3051',
  'altitude': 368134.46875,
  'latitude': 48.19847638771851,
  'longitude': 159.1169611688308},
 {'id': '49158',
  'name': 'STARLINK-3083',
  'altitude': 370064.3125,
  'latitude': 55.14935158527079,
  'longitude': 166.60390034829697},
 {'id': '49159',
  'name': 'STARLINK-3056',
  'altitude': 368761.5625,
  'latitude': 49.96692847705069,
  'longitude': 160.76989426873058},
 {'id': '49160',
  'name': 'STARLINK-3095',
  'altitude': 371069.3125,
  'latitude': 56.490479719370306,
  'longitude': 168.436986517745},
 {'id': '49161',
  'name': 'STARLINK-3080',
  'altitude': 369926.84375,
  'latitude': 53.35677185269554,
  'longitude': 164.3887197363001},
 {'id': '49162',
  'name': 'STARLINK-3082',
  'altitude': 371705.34375,
  'latitude': 59.9996396696261,
  'longitude': 174.17028828818871},
 {'id': '49163',
  'name': 'STARLINK-3088',
  'altitude': 370864.0625,
  'latitude': 58.496315033306296,
  'longitude': 171.52419104145574},
 {'id': '49164',
  'name': 'STARLINK-3106',
  'altitude': 373326.09375,
  'latitude': 65.119242112955,
  'longitude': -173.19615304838314},
 {'id': '49165',
  'name': 'STARLINK-3052',
  'altitude': 371471.125,
  'latitude': 61.81496734723209,
  'longitude': 177.87673142243116},
 {'id': '49166',
  'name': 'STARLINK-3089',
  'altitude': 372756.03125,
  'latitude': 64.14494294860937,
  'longitude': -176.21938602032756},
 {'id': '49167',
  'name': 'STARLINK-3054',
  'altitude': 371613.3125,
  'latitude': 63.069980456276085,
  'longitude': -179.13825370175417},
 {'id': '49168',
  'name': 'STARLINK-3101',
  'altitude': 373343.28125,
  'latitude': 68.55994307715976,
  'longitude': -156.92653316238605},
 {'id': '49169',
  'name': 'STARLINK-3046',
  'altitude': 373202.65625,
  'latitude': 66.5316227804761,
  'longitude': -167.92555561307276},
 {'id': '49170',
  'name': 'STARLINK-3074',
  'altitude': 372806.125,
  'latitude': 69.96222872508757,
  'longitude': -138.0096275767404},
 {'id': '49171',
  'name': 'STARLINK-3107',
  'altitude': 373360.46875,
  'latitude': 67.59904474396569,
  'longitude': -162.8818843827469},
 {'id': '49172',
  'name': 'STARLINK-3091',
  'altitude': 373685.09375,
  'latitude': 69.98301982092109,
  'longitude': -133.67650092577097},
 {'id': '49173',
  'name': 'STARLINK-3045',
  'altitude': 362871.75,
  'latitude': -3.0002393535469674,
  'longitude': 133.62340303516328},
 {'id': '49174',
  'name': 'STARLINK-3047',
  'altitude': 373910.78125,
  'latitude': 69.64526696646396,
  'longitude': -145.9476051282375},
 {'id': '49175',
  'name': 'STARLINK-3087',
  'altitude': 373461.5625,
  'latitude': 69.8031262985613,
  'longitude': -126.87775794669695},
 {'id': '49176',
  'name': 'STARLINK-3069',
  'altitude': 373096.34375,
  'latitude': 67.25971411581028,
  'longitude': -105.31882590706364},
 {'id': '49177',
  'name': 'STARLINK-3103',
  'altitude': 374009.625,
  'latitude': 69.56152201705044,
  'longitude': -122.73022119585508},
 {'id': '49178',
  'name': 'STARLINK-3086',
  'altitude': 372664.84375,
  'latitude': 67.91604748372431,
  'longitude': -108.82050680017826},
 {'id': '49179',
  'name': 'STARLINK-3043',
  'altitude': 373141.59375,
  'latitude': 68.88143325120309,
  'longitude': -115.5322809805505},
 {'id': '49180',
  'name': 'STARLINK-3050',
  'altitude': 372945.96875,
  'latitude': 66.07005908693414,
  'longitude': -100.12976727006487},
 {'id': '49181',
  'name': 'STARLINK-3059',
  'altitude': 371856.46875,
  'latitude': 64.68271789291032,
  'longitude': -95.32808964203254},
 {'id': '49182',
  'name': 'FALCON 9 DEB',
  'altitude': 202852.78125,
  'latitude': 23.280286559543676,
  'longitude': 141.9669025780624},
 {'id': '49183',
  'name': 'FALCON 9 DEB',
  'altitude': 179240.828125,
  'latitude': 58.37288668481499,
  'longitude': -83.44205784459295},
 {'id': '49184',
  'name': 'FALCON 9 DEB',
  'altitude': 155694.984375,
  'latitude': -38.681061986885545,
  'longitude': 115.65048423432674},
 {'id': '49185',
  'name': 'FALCON 9 DEB',
  'altitude': 174819.9375,
  'latitude': -10.214962837746148,
  'longitude': -43.47153468958446},
 {'id': '49186',
  'name': 'ONEWEB-0292',
  'altitude': 511590.65625,
  'latitude': -54.19590840355579,
  'longitude': -153.71940417722823},
 {'id': '49187',
  'name': 'ONEWEB-0303',
  'altitude': 516416.25,
  'latitude': -36.49873458479643,
  'longitude': 20.775558860704326},
 {'id': '49188',
  'name': 'ONEWEB-0306',
  'altitude': 522148.125,
  'latitude': 74.16078698902943,
  'longitude': 31.77739022668721},
 {'id': '49189',
  'name': 'ONEWEB-0307',
  'altitude': 505400.5625,
  'latitude': 14.271034817865077,
  'longitude': -158.08732381182972},
 {'id': '49190',
  'name': 'ONEWEB-0320',
  'altitude': 523775.3125,
  'latitude': -62.250945152143174,
  'longitude': 17.763602531079613},
 {'id': '49191',
  'name': 'ONEWEB-0321',
  'altitude': 517377.09375,
  'latitude': -85.94596421318461,
  'longitude': -116.41647628936533},
 {'id': '49192',
  'name': 'ONEWEB-0322',
  'altitude': 509659.8125,
  'latitude': -47.06262275893455,
  'longitude': -154.55058355770544},
 {'id': '49193',
  'name': 'ONEWEB-0324',
  'altitude': 516424.46875,
  'latitude': 5.522178488764514,
  'longitude': 22.923269156532523},
 {'id': '49194',
  'name': 'ONEWEB-0325',
  'altitude': 520863.25,
  'latitude': -49.88437198055275,
  'longitude': 19.60746161639604},
 {'id': '49195',
  'name': 'ONEWEB-0326',
  'altitude': 522164.375,
  'latitude': 77.72816064158124,
  'longitude': 34.62284361981994},
 {'id': '49196',
  'name': 'ONEWEB-0327',
  'altitude': 525610.75,
  'latitude': 29.419404019523707,
  'longitude': 24.1247831013551},
 {'id': '49197',
  'name': 'ONEWEB-0328',
  'altitude': 504696.90625,
  'latitude': -30.11308486181937,
  'longitude': -155.86995753929844},
 {'id': '49198',
  'name': 'ONEWEB-0331',
  'altitude': 513171.6875,
  'latitude': 20.804189306157728,
  'longitude': 23.655508124240203},
 {'id': '49199',
  'name': 'ONEWEB-0333',
  'altitude': 504414.0625,
  'latitude': -20.19834469658843,
  'longitude': -156.42728731519315},
 {'id': '49200',
  'name': 'ONEWEB-0334',
  'altitude': 515963.5,
  'latitude': -52.35867972437616,
  'longitude': 19.110464608987353},
 {'id': '49201',
  'name': 'ONEWEB-0335',
  'altitude': 535313.125,
  'latitude': 87.16304928176753,
  'longitude': 92.52174249699273},
 {'id': '49202',
  'name': 'ONEWEB-0336',
  'altitude': 519625.625,
  'latitude': 50.887849713032686,
  'longitude': -160.68428467767365},
 {'id': '49203',
  'name': 'ONEWEB-0337',
  'altitude': 537159.5625,
  'latitude': 75.53240508758388,
  'longitude': 33.01420088159312},
 {'id': '49204',
  'name': 'ONEWEB-0338',
  'altitude': 513913.84375,
  'latitude': -67.8524584225515,
  'longitude': -150.8709694065228},
 {'id': '49205',
  'name': 'ONEWEB-0339',
  'altitude': 510030.625,
  'latitude': 32.74789180585432,
  'longitude': -159.12454267880952},
 {'id': '49206',
  'name': 'ONEWEB-0340',
  'altitude': 512745.78125,
  'latitude': -21.81991527536679,
  'longitude': 21.643414649477194},
 {'id': '49207',
  'name': 'ONEWEB-0341',
  'altitude': 510283.21875,
  'latitude': 8.953704374479823,
  'longitude': 23.081960064161308},
 {'id': '49208',
  'name': 'ONEWEB-0342',
  'altitude': 513575.0,
  'latitude': -40.367131749543624,
  'longitude': 20.315740280495316},
 {'id': '49209',
  'name': 'ONEWEB-0343',
  'altitude': 521264.375,
  'latitude': 60.124434055951404,
  'longitude': 27.160628017601933},
 {'id': '49210',
  'name': 'ONEWEB-0344',
  'altitude': 532441.5,
  'latitude': 80.88456181177338,
  'longitude': -174.28806807023642},
 {'id': '49211',
  'name': 'ONEWEB-0345',
  'altitude': 527495.25,
  'latitude': 67.33763974405096,
  'longitude': -163.8028944111881},
 {'id': '49212',
  'name': 'ONEWEB-0346',
  'altitude': 512363.59375,
  'latitude': -18.79785880350692,
  'longitude': 21.798678509689925},
 {'id': '49213',
  'name': 'ONEWEB-0348',
  'altitude': 517472.5,
  'latitude': -63.81826183079683,
  'longitude': 17.16090663871769},
 {'id': '49214',
  'name': 'ONEWEB-0350',
  'altitude': 504587.5625,
  'latitude': 9.10804872047554,
  'longitude': -157.8345521710259},
 {'id': '49215',
  'name': 'ONEWEB-0351',
  'altitude': 507563.25,
  'latitude': 12.517283003174045,
  'longitude': 23.159953994293684},
 {'id': '49216',
  'name': 'ONEWEB-0352',
  'altitude': 509407.84375,
  'latitude': 26.049028390560697,
  'longitude': -158.70541495058086},
 {'id': '49217',
  'name': 'ONEWEB-0354',
  'altitude': 506730.5,
  'latitude': 67.38793725709894,
  'longitude': 28.937315607525868},
 {'id': '49218',
  'name': 'ONEWEB-0355',
  'altitude': 502541.375,
  'latitude': -6.519889834037664,
  'longitude': -157.11178155305515},
 {'id': '49219',
  'name': 'ONEWEB-0357',
  'altitude': 518164.71875,
  'latitude': -72.84138568667973,
  'longitude': 13.91237902322677},
 {'id': '49221',
  'name': 'SZ-12 MODULE',
  'altitude': 395608.0625,
  'latitude': -23.994066941019398,
  'longitude': -102.13404530087008},
 {'id': '49222',
  'name': 'TIANZHOU-3',
  'altitude': 393124.59375,
  'latitude': -35.2899447809605,
  'longitude': -5.88645382154245},
 {'id': '49223',
  'name': 'CZ-7 R/B',
  'altitude': 204720.421875,
  'latitude': 7.984259767086772,
  'longitude': 50.6620129232208},
 {'id': '49248',
  'name': 'INSPIRATION4 DEB',
  'altitude': 369651.40625,
  'latitude': 45.275910158856334,
  'longitude': -5.840967749877927},
 {'id': '49256',
  'name': 'JILIN-01 GAOFEN 2D',
  'altitude': 557656.6875,
  'latitude': -61.38113422172039,
  'longitude': 96.34897752670683},
 {'id': '49257',
  'name': 'KZ-1A R/B',
  'altitude': 317664.71875,
  'latitude': 31.189935901458167,
  'longitude': -92.63691997696665},
 {'id': '49258',
  'name': 'SHIYAN 10 (SY-10)',
  'altitude': 12023554.0,
  'latitude': 48.39768226995651,
  'longitude': -106.50568738856924},
 {'id': '49259',
  'name': 'CZ-3B R/B',
  'altitude': 11850823.0,
  'latitude': -11.244607878710045,
  'longitude': 129.4878054549906},
 {'id': '49260',
  'name': 'LANDSAT 9',
  'altitude': 688429.375,
  'latitude': 37.11673010089918,
  'longitude': 38.86200052818835},
 {'id': '49261',
  'name': '2021-088B',
  'altitude': 580454.0625,
  'latitude': -43.27563120381016,
  'longitude': 51.70350065843185},
 {'id': '49262',
  'name': '2021-088C',
  'altitude': 579460.5625,
  'latitude': -40.32172806703596,
  'longitude': 50.982987417981796},
 {'id': '49263',
  'name': 'CUTE',
  'altitude': 573904.625,
  'latitude': -21.651252291549785,
  'longitude': 47.5097918288007},
 {'id': '49264',
  'name': '2021-088E',
  'altitude': 573208.6875,
  'latitude': -20.036694609501737,
  'longitude': 47.26364888658637},
 {'id': '25544',
  'name': 'ISS (ZARYA)',
  'altitude': 423560.53125,
  'latitude': 48.315508264052085,
  'longitude': -11.41650239577811},
 {'id': '43556',
  'name': 'AEROCUBE 12A',
  'altitude': 464473.15625,
  'latitude': -3.80078640281371,
  'longitude': -124.39462901356046},
 {'id': '43557',
  'name': 'AEROCUBE 12B',
  'altitude': 469730.375,
  'latitude': 35.83548906544234,
  'longitude': -159.978070438251},
 {'id': '43558',
  'name': 'LEMUR-2-VU',
  'altitude': 467766.65625,
  'latitude': -34.9835698155504,
  'longitude': -103.3484665956767},
 {'id': '43559',
  'name': 'LEMUR-2-ALEXANDER',
  'altitude': 465576.9375,
  'latitude': 34.527108273318454,
  'longitude': 74.91096032595027},
 {'id': '43560',
  'name': 'LEMUR-2-YUASA',
  'altitude': 465087.53125,
  'latitude': 19.067784464411236,
  'longitude': 59.30192901572013},
 {'id': '43561',
  'name': 'LEMUR-2-TOMHENDERSON',
  'altitude': 458659.53125,
  'latitude': 16.96606353981203,
  'longitude': -149.3687785816052},
 {'id': '43870',
  'name': 'ISS DEB (SEDA-AP)',
  'altitude': 390793.625,
  'latitude': -47.005204773676844,
  'longitude': 111.0933205483917},
 {'id': '44031',
  'name': 'UNITE',
  'altitude': 286114.5,
  'latitude': -37.314972926464215,
  'longitude': -18.024126436591413},
 {'id': '44303',
  'name': 'ISS DEB',
  'altitude': 382475.4375,
  'latitude': 5.121179790140357,
  'longitude': -162.56999062448745},
 {'id': '44306',
  'name': 'ISS DEB',
  'altitude': 382125.78125,
  'latitude': -10.192762161622667,
  'longitude': 20.287290835054918},
 {'id': '44329',
  'name': 'RAAVANA-1',
  'altitude': 215038.796875,
  'latitude': -44.012413954863185,
  'longitude': 92.6736254135663},
 {'id': '44330',
  'name': 'UGUISU',
  'altitude': 238014.515625,
  'latitude': -1.6101357748907006,
  'longitude': 143.38769120845177},
 {'id': '44331',
  'name': 'NEPALISAT-1',
  'altitude': 217322.34375,
  'latitude': 6.027835749153952,
  'longitude': -42.0128419243961},
 {'id': '44332',
  'name': 'SPOOQY-1',
  'altitude': 270181.78125,
  'latitude': 49.58051393985181,
  'longitude': -145.35559165173748},
 {'id': '44364',
  'name': 'RED-EYE 1 (PINOT)',
  'altitude': 385489.375,
  'latitude': -12.931856702773603,
  'longitude': 24.939559782540506},
 {'id': '44427',
  'name': 'KRAKSAT',
  'altitude': 352889.40625,
  'latitude': 51.5795600457528,
  'longitude': -100.11412613686554},
 {'id': '44428',
  'name': 'VCC A',
  'altitude': 289468.0,
  'latitude': -34.217816817132764,
  'longitude': 4.637039760070575},
 {'id': '44431',
  'name': 'VCC B',
  'altitude': 267211.78125,
  'latitude': -6.240438193675293,
  'longitude': 145.11439035138767},
 {'id': '44790',
  'name': 'RWASAT-1',
  'altitude': 382147.46875,
  'latitude': 42.728174466360706,
  'longitude': -113.80577308291136},
 {'id': '44791',
  'name': 'AQT-D',
  'altitude': 379561.375,
  'latitude': -19.049713491414675,
  'longitude': -176.41911441203706},
 {'id': '44792',
  'name': 'NARSSCUBE-1',
  'altitude': 356217.40625,
  'latitude': -48.10290838085169,
  'longitude': 121.60149145437545},
 {'id': '45043',
  'name': 'STPSAT-4',
  'altitude': 401429.53125,
  'latitude': 17.706970017576452,
  'longitude': 23.866151158243397},
 {'id': '45256',
  'name': 'HARP',
  'altitude': 388142.84375,
  'latitude': -31.800097190582918,
  'longitude': 55.88337493989914},
 {'id': '45257',
  'name': '1998-067RA',
  'altitude': 390672.25,
  'latitude': 38.6023543019849,
  'longitude': -10.412303224567095},
 {'id': '45258',
  'name': 'PHOENIX',
  'altitude': 403932.3125,
  'latitude': -49.130455699966745,
  'longitude': 97.80957249957905},
 {'id': '45259',
  'name': '1998-067RC',
  'altitude': 371383.5,
  'latitude': 49.47960472505404,
  'longitude': -92.1511910741412},
 {'id': '45260',
  'name': 'CRYOCUBE',
  'altitude': 348169.15625,
  'latitude': -31.252401396512518,
  'longitude': 166.1095175957931},
 {'id': '45261',
  'name': 'AZTECHSAT-1',
  'altitude': 349001.75,
  'latitude': -27.60452884195023,
  'longitude': 35.74039917181742},
 {'id': '45262',
  'name': 'RADSAT-U',
  'altitude': 391283.03125,
  'latitude': -23.638241406018413,
  'longitude': 48.27138524201381},
 {'id': '45263',
  'name': 'QARMAN',
  'altitude': 372321.34375,
  'latitude': 51.18181422472087,
  'longitude': -59.320978413315295},
 {'id': '45264',
  'name': 'SORTIE',
  'altitude': 394382.0,
  'latitude': 11.438226666206981,
  'longitude': -134.9141448637556},
 {'id': '45265',
  'name': 'ICS-EF (ISS DEB)',
  'altitude': 420186.6875,
  'latitude': -48.00472099643817,
  'longitude': 161.10988742523546},
 {'id': '45597',
  'name': 'G-SAT',
  'altitude': 396282.625,
  'latitude': -41.17107575070539,
  'longitude': 166.13948846587112},
 {'id': '45598',
  'name': 'QUETZAL-1',
  'altitude': 372917.71875,
  'latitude': 13.267671491053742,
  'longitude': -142.41720328966298},
 {'id': '45800',

In [4]:
import pandas as pd

In [5]:
base = pd.DataFrame.from_dict(dic)
base

          id         name      altitude   latitude   longitude
0      49122  GAOFEN 5-02  7.022254e+05  21.417086 -129.000280
1      49123    CZ-4C R/B  6.868360e+05  28.048775 -126.190600
2      49124    2021-079C  6.686340e+05  76.923025  -91.814763
3      49125  CHINASAT 9B  3.579906e+07   0.016507  101.368641
4      49126    CZ-3B R/B  2.575905e+07  15.854153 -106.841419
...      ...          ...           ...        ...         ...
13479  48867        BD-28  4.184569e+05  51.073812  -51.377974
13480  48868    MIR-SAT 1  4.104138e+05 -16.526992   63.273322
13481  25160  CELESTIS-02  8.092756e+05  50.211661   11.752097
13482  26034  CELESTIS-03  5.419555e+05  56.461339  -58.991873
13483  43777  LACMA ENOCH  5.010129e+05 -16.648178   60.202114

[13484 rows x 5 columns]

In [7]:
df = pd.read_pickle("original data base")

In [8]:
df

,CDM_ID,CREATED,EMERGENCY_REPORTABLE,TCA,MIN_RNG,PC,SAT_1_ID,SAT_1_NAME,SAT1_OBJECT_TYPE,SAT1_RCS,SAT_1_EXCL_VOL,SAT_2_ID,SAT_2_NAME,SAT2_OBJECT_TYPE,SAT2_RCS,SAT_2_EXCL_VOL
0,132370288,2021-09-02 15:14:56.000000,Y,2021-09-03T13:59:29.821000,559,0.0002464845,4363,TOPO 1,PAYLOAD,MEDIUM,5.00,31005,FENGYUN 1C DEB,DEBRIS,SMALL,1.00
1,132370495,2021-09-02 15:15:01.000000,Y,2021-09-04T16:21:04.638000,118,0.0002810263,10571,COSMOS 970 DEB,DEBRIS,SMALL,1.00,270229,UNKNOWN,UNKNOWN,SMALL,3.00
2,132370669,2021-09-02 15:15:03.000000,Y,2021-09-05T00:31:16.952000,279,0.001703088,13416,COSMOS 1372 FUEL CORE,PAYLOAD,MEDIUM,5.00,45517,METEOR 2-11 DEB,DEBRIS,SMALL,1.00
3,132370991,2021-09-02 15:15:06.000000,Y,2021-09-03T18:41:06.585000,603,0.0001575087,15889,COSMOS 1666,PAYLOAD,LARGE,5.00,38839,NOAA 8 DEB,DEBRIS,SMALL,1.00
4,132371811,2021-09-02 15:15:15.000000,Y,2021-09-04T18:49:13.277000,94,0.0002253183,22611,SL-16 DEB,DEBRIS,SMALL,1.00,38604,BREEZE-M DEB,DEBRIS,SMALL,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,144153575,2021-10-02 10:10:58.000000,Y,2021-10-04T21:50:17.894000,63,0.0009412439,41829,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,7838,DELTA 1 DEB,DEBRIS,MEDIUM,1.00
1643,144155038,2021-10-02 09:56:22.000000,Y,2021-10-04T10:05:17.693000,2148,None,43342,ATLAS CENTAUR DEB,DEBRIS,SMALL,0.00,30000,TITAN 3C TRANSTAGE DEB,DEBRIS,MEDIUM,0.00
1644,144157728,2021-10-02 09:56:31.000000,Y,2021-10-02T11:51:43.326000,2365,None,44984,SL-12 DEB,DEBRIS,SMALL,0.00,37205,BREEZE-M DEB,DEBRIS,MEDIUM,0.00
1645,144159513,2021-10-02 10:20:59.000000,Y,2021-10-02T21:42:37.691000,47,0.0001844075,46993,FENGYUN 1C DEB,DEBRIS,None,1.00,29974,FENGYUN 1C DEB,DEBRIS,SMALL,1.00
1646,144160120,2021-10-02 10:21:33.000000,Y,2021-10-03T12:24:05.669000,43,0.0009741868,47537,CZ-4C R/B,ROCKET BODY,LARGE,3.00,7363,METEOR 1-18,PAYLOAD,LARGE,5.00

In [9]:
df1 = df[['CDM_ID','CREATED','EMERGENCY_REPORTABLE','TCA','MIN_RNG','PC']].copy()

In [10]:
df2 = df[['SAT_1_ID', 'SAT_1_NAME','SAT1_OBJECT_TYPE','SAT1_RCS','SAT_1_EXCL_VOL']].copy()

In [11]:
df3 = df[['SAT_2_ID', 'SAT_2_NAME','SAT2_OBJECT_TYPE','SAT2_RCS','SAT_2_EXCL_VOL']].copy()

In [12]:
df2 = df2.rename(columns={'SAT_1_ID':'id'})

In [13]:
df2 = df2.merge(base, how='inner', on='id')

In [14]:
df2

,id,SAT_1_NAME,SAT1_OBJECT_TYPE,SAT1_RCS,SAT_1_EXCL_VOL,name,altitude,latitude,longitude
0,24873,IRIDIUM 921,PAYLOAD,LARGE,5.00,IRIDIUM 921 [-],541922.0625,-50.755692,99.508439
1,33731,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207
2,33731,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207
3,33731,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207
4,33731,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207
...,...,...,...,...,...,...,...,...,...
482,25977,HELIOS 1B,PAYLOAD,LARGE,5.00,HELIOS 1B,637791.8125,-42.972617,163.155625
483,31031,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,839135.9375,45.505927,18.417713
484,31802,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,740713.2500,5.478827,53.045766
485,34062,COSMOS 2251 DEB,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,778496.5000,12.541304,-134.546667
486,41829,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,854344.6875,-15.238261,-142.309969

In [15]:
df2 = df2.drop(columns=["SAT_1_NAME"])

In [18]:
df2 = df2.rename(columns={'id':'id1', 'name' : 'name1', 'altitude' : 'altitude1', 'latitude' : 'latidude1', 'longitude':'longitude1'})

In [19]:
df2

,id1,SAT1_OBJECT_TYPE,SAT1_RCS,SAT_1_EXCL_VOL,name1,altitude1,latidude1,longitude1
0,24873,PAYLOAD,LARGE,5.00,IRIDIUM 921 [-],541922.0625,-50.755692,99.508439
1,33731,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207
2,33731,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207
3,33731,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207
4,33731,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207
...,...,...,...,...,...,...,...,...
482,25977,PAYLOAD,LARGE,5.00,HELIOS 1B,637791.8125,-42.972617,163.155625
483,31031,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,839135.9375,45.505927,18.417713
484,31802,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,740713.2500,5.478827,53.045766
485,34062,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,778496.5000,12.541304,-134.546667
486,41829,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,854344.6875,-15.238261,-142.309969

In [20]:
df3 = df3.rename(columns={'SAT_2_ID':'id'})

In [21]:
df3 = df3.merge(base, how='inner', on='id')

In [22]:
df3

,id,SAT_2_NAME,SAT2_OBJECT_TYPE,SAT2_RCS,SAT_2_EXCL_VOL,name,altitude,latitude,longitude
0,31005,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,9.231818e+05,78.466736,-178.848708
1,38471,IRIDIUM 33 DEB,DEBRIS,None,1.00,IRIDIUM 33 DEB,5.361478e+05,5.344656,-104.966272
2,31436,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,7.209848e+05,53.104028,-78.100652
3,38000,COSMOS 2251 DEB,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,7.005329e+05,-31.929259,-42.839438
4,38000,COSMOS 2251 DEB,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,7.005329e+05,-31.929259,-42.839438
...,...,...,...,...,...,...,...,...,...
608,41829,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,8.543447e+05,-15.238261,-142.309969
609,31262,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,8.420055e+05,72.488634,-120.491340
610,34062,COSMOS 2251 DEB,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,7.784965e+05,12.541304,-134.546667
611,31802,FENGYUN 1C DEB,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,7.407132e+05,5.478827,53.045766
612,87934,UNKNOWN,UNKNOWN,SMALL,3.00,UNKNOWN,1.012773e+06,-6.476039,-126.937686

In [23]:
df3 = df3.drop(columns=["SAT_2_NAME"])

In [24]:
df3 = df3.rename(columns={'id':'id2', 'name' : 'name2', 'altitude' : 'altitude2', 'latitude' : 'latidude2', 'longitude':'longitude2'})

In [25]:
df3

,id2,SAT2_OBJECT_TYPE,SAT2_RCS,SAT_2_EXCL_VOL,name2,altitude2,latidude2,longitude2
0,31005,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,9.231818e+05,78.466736,-178.848708
1,38471,DEBRIS,None,1.00,IRIDIUM 33 DEB,5.361478e+05,5.344656,-104.966272
2,31436,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,7.209848e+05,53.104028,-78.100652
3,38000,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,7.005329e+05,-31.929259,-42.839438
4,38000,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,7.005329e+05,-31.929259,-42.839438
...,...,...,...,...,...,...,...,...
608,41829,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,8.543447e+05,-15.238261,-142.309969
609,31262,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,8.420055e+05,72.488634,-120.491340
610,34062,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,7.784965e+05,12.541304,-134.546667
611,31802,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,7.407132e+05,5.478827,53.045766
612,87934,UNKNOWN,SMALL,3.00,UNKNOWN,1.012773e+06,-6.476039,-126.937686

In [26]:
final_base = pd.concat([df1,df2,df3],axis=1)

In [27]:
final_base

,CDM_ID,CREATED,EMERGENCY_REPORTABLE,TCA,MIN_RNG,PC,id1,SAT1_OBJECT_TYPE,SAT1_RCS,SAT_1_EXCL_VOL,...,latidude1,longitude1,id2,SAT2_OBJECT_TYPE,SAT2_RCS,SAT_2_EXCL_VOL,name2,altitude2,latidude2,longitude2
0,132370288,2021-09-02 15:14:56.000000,Y,2021-09-03T13:59:29.821000,559,0.0002464845,24873,PAYLOAD,LARGE,5.00,...,-50.755692,99.508439,31005,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,923181.7500,78.466736,-178.848708
1,132370495,2021-09-02 15:15:01.000000,Y,2021-09-04T16:21:04.638000,118,0.0002810263,33731,DEBRIS,SMALL,1.00,...,-50.479018,120.250207,38471,DEBRIS,None,1.00,IRIDIUM 33 DEB,536147.8125,5.344656,-104.966272
2,132370669,2021-09-02 15:15:03.000000,Y,2021-09-05T00:31:16.952000,279,0.001703088,33731,DEBRIS,SMALL,1.00,...,-50.479018,120.250207,31436,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,720984.7500,53.104028,-78.100652
3,132370991,2021-09-02 15:15:06.000000,Y,2021-09-03T18:41:06.585000,603,0.0001575087,33731,DEBRIS,SMALL,1.00,...,-50.479018,120.250207,38000,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,700532.8750,-31.929259,-42.839438
4,132371811,2021-09-02 15:15:15.000000,Y,2021-09-04T18:49:13.277000,94,0.0002253183,33731,DEBRIS,SMALL,1.00,...,-50.479018,120.250207,38000,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,700532.8750,-31.929259,-42.839438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,144153575,2021-10-02 10:10:58.000000,Y,2021-10-04T21:50:17.894000,63,0.0009412439,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1643,144155038,2021-10-02 09:56:22.000000,Y,2021-10-04T10:05:17.693000,2148,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1644,144157728,2021-10-02 09:56:31.000000,Y,2021-10-02T11:51:43.326000,2365,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1645,144159513,2021-10-02 10:20:59.000000,Y,2021-10-02T21:42:37.691000,47,0.0001844075,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,144160120,2021-10-02 10:21:33.000000,Y,2021-10-03T12:24:05.669000,43,0.0009741868,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
final_base=final_base.dropna()

In [29]:
final_base

,CDM_ID,CREATED,EMERGENCY_REPORTABLE,TCA,MIN_RNG,PC,id1,SAT1_OBJECT_TYPE,SAT1_RCS,SAT_1_EXCL_VOL,...,latidude1,longitude1,id2,SAT2_OBJECT_TYPE,SAT2_RCS,SAT_2_EXCL_VOL,name2,altitude2,latidude2,longitude2
0,132370288,2021-09-02 15:14:56.000000,Y,2021-09-03T13:59:29.821000,559,0.0002464845,24873,PAYLOAD,LARGE,5.00,...,-50.755692,99.508439,31005,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,923181.7500,78.466736,-178.848708
2,132370669,2021-09-02 15:15:03.000000,Y,2021-09-05T00:31:16.952000,279,0.001703088,33731,DEBRIS,SMALL,1.00,...,-50.479018,120.250207,31436,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,720984.7500,53.104028,-78.100652
3,132370991,2021-09-02 15:15:06.000000,Y,2021-09-03T18:41:06.585000,603,0.0001575087,33731,DEBRIS,SMALL,1.00,...,-50.479018,120.250207,38000,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,700532.8750,-31.929259,-42.839438
4,132371811,2021-09-02 15:15:15.000000,Y,2021-09-04T18:49:13.277000,94,0.0002253183,33731,DEBRIS,SMALL,1.00,...,-50.479018,120.250207,38000,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,700532.8750,-31.929259,-42.839438
5,132372399,2021-09-02 15:15:17.000000,Y,2021-09-02T20:18:13.961000,120,0.0004801284,33731,DEBRIS,SMALL,1.00,...,-50.479018,120.250207,33731,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,136040064,2021-09-11 22:16:42.000000,Y,2021-09-11T23:13:06.256000,25,0.01424877,25977,PAYLOAD,LARGE,5.00,...,-42.972617,163.155625,29760,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,894397.5625,-74.333154,146.730072
483,136042705,2021-09-11 22:17:08.000000,Y,2021-09-13T02:56:08.835000,78,0.0005651965,31031,DEBRIS,SMALL,1.00,...,45.505927,18.417713,29760,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,894397.5625,-74.333154,146.730072
484,136045665,2021-09-11 22:17:51.000000,Y,2021-09-13T02:16:33.335000,53,0.0005656606,31802,DEBRIS,SMALL,1.00,...,5.478827,53.045766,29760,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,894397.5625,-74.333154,146.730072
485,136046341,2021-09-11 22:18:04.000000,Y,2021-09-12T16:38:49.197000,63,0.00084696,34062,DEBRIS,SMALL,1.00,...,12.541304,-134.546667,29760,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,894397.5625,-74.333154,146.730072
486,136172176,2021-09-12 09:52:29.000000,Y,2021-09-15T08:49:43.936000,460,0.0001495598,41829,DEBRIS,SMALL,1.00,...,-15.238261,-142.309969,29760,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,894397.5625,-74.333154,146.730072

In [30]:
ml_base = final_base.drop(columns=["CDM_ID","CREATED","EMERGENCY_REPORTABLE","TCA"])

In [32]:
ml_base = ml_base.reset_index(drop=True)

In [33]:
ml_base

,MIN_RNG,PC,id1,SAT1_OBJECT_TYPE,SAT1_RCS,SAT_1_EXCL_VOL,name1,altitude1,latidude1,longitude1,id2,SAT2_OBJECT_TYPE,SAT2_RCS,SAT_2_EXCL_VOL,name2,altitude2,latidude2,longitude2
0,559,0.0002464845,24873,PAYLOAD,LARGE,5.00,IRIDIUM 921 [-],541922.0625,-50.755692,99.508439,31005,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,923181.7500,78.466736,-178.848708
1,279,0.001703088,33731,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207,31436,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,720984.7500,53.104028,-78.100652
2,603,0.0001575087,33731,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207,38000,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,700532.8750,-31.929259,-42.839438
3,94,0.0002253183,33731,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207,38000,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,700532.8750,-31.929259,-42.839438
4,120,0.0004801284,33731,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207,33731,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,865637.1250,-50.479018,120.250207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381,25,0.01424877,25977,PAYLOAD,LARGE,5.00,HELIOS 1B,637791.8125,-42.972617,163.155625,29760,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,894397.5625,-74.333154,146.730072
382,78,0.0005651965,31031,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,839135.9375,45.505927,18.417713,29760,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,894397.5625,-74.333154,146.730072
383,53,0.0005656606,31802,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,740713.2500,5.478827,53.045766,29760,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,894397.5625,-74.333154,146.730072
384,63,0.00084696,34062,DEBRIS,SMALL,1.00,COSMOS 2251 DEB,778496.5000,12.541304,-134.546667,29760,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,894397.5625,-74.333154,146.730072
385,460,0.0001495598,41829,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,854344.6875,-15.238261,-142.309969,29760,DEBRIS,SMALL,1.00,FENGYUN 1C DEB,894397.5625,-74.333154,146.730072

In [34]:
ml_base.to_pickle("ml base")